@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*
{
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto', sans-serif;; */
}

body
{
    --twitter-color:rgb(29, 155, 240);
    --twitter-backgroud:#e6ecf0;
    display: flex;
    height: 100vh;
    max-width: 82em;
    margin: auto;
    padding: 0 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebarOption
{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.fa-twitter
{
    color:var(--twitter-color);
    font-size: 30px;
    font-weight: 800;
}
.sidebarOption .material-icons , .fa-twitter
{
    padding: 20px;
}

.sidebarOption h2
{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption.active
{
    color: var(--twitter-color)
}

.sidebarOption:hover
{
    background-color: var(--twitter-backgroud);
    border-radius: 30px;
    /* color: var(--twitter-color); */
    transition:color 100mn ease-out;
}

#btn-tweet
{
    width: 100%;
    height: 50px;
    background-color: var(--twitter-color);
    color:var(--twitter-backgroud);
    border: none;
    border-radius: 30px;
    font-weight: 900;
    font-size: 20px;
    font-family: Arial;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.sidebar
{
    border-right: 1px solid var(--twitter-backgroud);
    flex:0.2;
    min-width: 250px;
    padding: 0 20px;
    margin: 20px 0 0 0 ;
    font-family: Roboto;
}

/* FEED STARTS */
.feed
{
    flex: 0.4;
    border-right:1px solid var(--twitter-backgroud);
    overflow-y: scroll;
    min-width: fit-content;
}

/* hide scroll bar */
.feed::-webkit-scrollbar 
{
    display: none;
}

.header-feed
{
    font-size: 20px;
    font-weight: 800;
    padding: 15px 20px;
    border: 1px solid var(--twitter-backgroud);
}

.tweetBox
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 8px solid var(--twitter-backgroud);
}

.tweetBox-input
{
    display: flex;
    padding: 20px;
}

.tweetBox-input img
{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1px solid var(--twitter-backgroud);
} 

.tweetBox-input input
{
    flex: 1;
    margin-left: 20px;
    border:none;
    outline: none;
    font-size: 20px;
}

.tweetBox button
{
    background-color: var(--twitter-color);
    color:#FFFFFF;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
    font-weight: 800;
    border: none;
    border-radius: 30px;
}

/* banner starts */

.banner
{
    display: flex;
    align-items: flex-start;
    /* padding:10px; */
    border: 1px solid var(--twitter-backgroud);
}

.banner-name {
    font-size: 20px;
    font-weight: 700;
    font-family: Arial;
    margin-bottom: 1px;
    margin-left:50px;
    margin-top:10px;
}

.banner-tweets {
    font-size: 13px;
    font-weight: 400;
    margin-left:50px;
    margin-bottom:10px;
    font-family: Arial;
    color: rgb(83, 100, 113);
}

.banner-img {
    background-color:transparent;
    height: 200px;
    width: 600px;
    object-fit: fill;
    margin:0px;
}

.profile {
    /* display: flex; */
    align-items: flex-start;
    padding:16px;
    /* border: 1px solid var(--twitter-backgroud); */
}

.profile-avatar
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-top: -130px;
}

.profile-name
{
    font-size: 20px;
    font-weight: 800;
    font-family: Arial;
    margin-top: 4px;
    margin-bottom: 12px;
}

.profile-at
{
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(83, 100, 113);
    font-family: Arial;
}

.profile-info
{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 12px;
}

.calendar-icon
{
    height:20px;
    color: rgb(83, 100, 113);
    display: inline-block;
    fill: rgb(83, 100, 113);
    vertical-align: text-bottom;
}

.profile-calendar {
    font-size: 15px;
    margin-bottom: 12px;
    color: rgb(83, 100, 113);		    
}

.profile-following {
    font-size: 15px;
    color: rgb(83, 100, 113);
    margin-bottom: 16px;
}


.profile nav {
    border-bottom-color: rgb(239, 243, 244);
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    font-size: 15px;
    box-sizing: border-box;
    height: 53px;
    border-image-repeat: stretch;
    align-items: center;
    margin-left:-15px;
    margin-bottom:-16px;
    margin-right:-15px;
    /* border-bottom: 1px solid #e6ecf8; */
    /* padding: 10px 15px; */
}

.profile nav a {
    position: relative;
    font-size: 15px;
    line-height: 20px;
    white-space: pre-wrap;
    color: rgb(83, 100, 113);
    font-weight: 700;
    margin-left: 0px;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    padding-right: 16px;
    padding-left: 16px;
    text-align: start;
    text-decoration-line: none;
    text-decoration-style: solid;
    min-width: 56px;
    height:53px;
    cursor: pointer;
    outline-style: none;
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    transition-duration: 0.2s;
    transition-property: background-color, box-shadow;
    text-align: center;
    align-items: center;
}

.profile nav a:hover
{
    background-color: rgba(15,20,25,0.1);
    /* border-radius: 30px; */
    /* color: var(--twitter-color); */
    transition:color 100mn ease-out;
}

.profile nav a.active
{
    color: black;
}

.blue-thingy {
    background-color: var(--twitter-color);
    height:4px;
    width: 56px;
    align-self: center;
    align-items: stretch;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-right-radius: 9999px;
    border-top-left-radius: 9999px;
    margin-left: 50px;
    margin-top:14px;
}




/* post starts */

.post
{
    display: flex;
    align-items: flex-start;
    padding:10px;
    border: 1px solid var(--twitter-backgroud);
}

.post-avatar img
{
    height:40px;
    width:40px;
    border-radius: 50%;
    padding: 20px;
}

.post-header-username
{
    font-size: 16px;
    font-weight: 900;
}

.post-header-icon .material-icons
{
    font-size: 14px !important;
    color: var(--twitter-color);
    margin:0;
}

.post-header-icon
{
    font-weight: 300;
    font-size: 16px;
    color: gray;
}
.post-description
{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}
.post-image
{
    background-color:transparent;
    width: 450px;
    height: 320px;
    object-fit: fill;
    border-radius: 20px;
    border: 1px solid rgb(207, 217, 222);
}

.post-options
{
    margin: 5px auto 0 auto;
    display: flex;
    justify-content:space-around;
    color: gray;
}

.post-options-item
{
    display: flex;
    justify-content: center;
    align-self: center;
}

.post-options-item .material-icons:hover
{
    color: var(--twitter-color);
}

.post-options-item .like:hover
{
    color:#ed3b24;
}

.post-options-item-details
{
    color: #000000;
    padding: 1px;
}
/* widget starts */
.widget
{
    flex: 0.4;
    margin-left: 30px;
    margin-top: 10px;
}

.widget-search-bar
{
    background-color: var(--twitter-backgroud);
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.widget-search-bar .material-icons
{
    font-size: 20px;
    font-weight: 800;
    margin:0 10px;
}

#widget-search-bar-input
{
    border: none;
    background-color: var(--twitter-backgroud);
    font-size: 16px;
    outline: none;
}


.widget-container 
{
    background-color: var(--twitter-backgroud);
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.widget-container .trend ul {
    list-style: none;
    margin-top: 10px;
}

.widget-container .trend ul li {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.widget-container .trend ul li span {
    font-size: 16px;
    font-weight: bold;
    color: #3bb9e3;
}

.widget-container .who ul {
    list-style: none;
    margin-top: 10px;
}


.widget-container .who ul li .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 72px;
    justify-content: space-between;
    padding: 0px;
    
}

.widget-container ul li .profile img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px
}

.widget-container ul li .profile .info {
    /* margin-left: 10px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.widget-container  ul li .profile .info strong {
    font-size: 14px;
    color: #1f2326;
}

.widget-container ul li .profile .info strong span {
    font-weight: normal;
    color: #9a9a9a;
    font-size: 13px;
}

.widget-container ul li .profile button {
    height: 27px;
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 77px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color:black;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    /* border: 1px solid #3bb9e3; */
    border-radius: 9999px;
}

/* widget ends */


.actions {
    display: flex;
}

.actions a {
    height: 34px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 16px;
    margin-right: 20px;
    text-decoration: none;
    color: #667580;
    font-weight: bold;
    font-size: 12px;
    margin-left: 30px;
}

.actions a img {
    margin-right: 15px;
}
